@page "/certificate"
@using CertificateManager.Client.src.Models
@inject IJSRuntime JSRuntime

@inherits Page<CertificateOvervieVM>

<PageTitle>Certificate Generator</PageTitle>

<h2>Certificates List</h2>

@if (ViewModel?.IsLoading ?? true)
{
    <FluentProgressRing />
}
else if (ViewModel?.Certificates?.CertificatesDB != null && ViewModel.Certificates.CertificatesDB.Any())
{
    var certificates = ViewModel.Certificates.CertificatesDB
        .OrderBy(c => c.Solution ?? string.Empty)
        .ThenByDescending(c => c.Creation)
        .AsQueryable();

    <FluentDataGrid Items="@certificates">
        <PropertyColumn Property="@(p => p.Id)" Sortable="true" Width="5%" />
        <PropertyColumn Property="@(p => p.Creation)" Sortable="true" Width="15%" />
        <PropertyColumn Property="@(p => p.Solution)" Sortable="true" Title="Solution" />
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" Title="Name" />
        <PropertyColumn Property="@(p => p.KeyAlgorithm)" Sortable="true" Title="Algorithm" />
        <PropertyColumn Property="@(p => p.ApplicationUri)" Sortable="true" Title="Application URI" />
        <PropertyColumn Property="@(p => p.Password)" Width="10%" />
        <TemplateColumn Title="DNS">
            @(context.DNS is null ? string.Empty : string.Join(", ", context.DNS))
        </TemplateColumn>
        <PropertyColumn Property="@(p => p.Address)" Width="10%" />
        <TemplateColumn Title="PFX" Width="8%">
            <FluentButton Color="Color.Accent" OnClick="(() => ViewModel?.DownloadPFX(context.Id))">Download</FluentButton>
        </TemplateColumn>
        <TemplateColumn Title="CA Root" Width="8%">
            <FluentButton Color="Color.Success" OnClick="(() => ViewModel?.DownloadCRT(context.Id))">Download</FluentButton>
        </TemplateColumn>
        <TemplateColumn Title="DER" Width="8%">
            <FluentButton Color="Color.Accent" OnClick="(() => ViewModel?.DownloadDER(context.Id))">Download</FluentButton>
        </TemplateColumn>
        <TemplateColumn Title="Regenerate" Width="8%">
            <FluentButton Color="Color.Success" OnClick="(() => ViewModel?.Regenerate(context.Id))">Modify</FluentButton>
        </TemplateColumn>
    </FluentDataGrid>
}
else
{
    <p>No certificates found.</p>
}



@code {


    protected async override Task OnInitializedAsync()
    {
        // await JSRuntime.InvokeVoidAsync("mostraAlert", "Ciao da Blazor C#!");
        base.OnInitializedAsync();
    }

}
